<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Oneauth - Example (Using simple http-requests)</title>
</head>
<body>
<h1> One auth Example (Using simple http-requests) </h1>

<a href="{{loginUri}}"> Login Here </a>

</body>
</html>