<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Oneauth - Example</title>
</head>
<body>
<h1> One auth Example </h1>

<a href="{{loginUri}}"> Login Here </a>

</body>
</html>