<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oneauth - Example (using passport oauth2)</title>
</head>
<body>
<h1> One auth Example (using passport oauth2) </h1>

<a href="/login"> Login Here </a>

</body>
</html>